<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>Lab - 7 (Part 2)</b></center>    
<pre>

### Step 1: Load the Dataset
Load the `Tdata.csv` file and display the first few rows.

In [41]:
import pandas as pd
df = pd.read_csv('Tdata.csv')
df.head()

  Transaction  bread  butter  coffee  eggs  jam  milk
0          T1      1       1       0     0    0     1
1          T2      1       1       0     0    1     0
2          T3      1       0       0     1    0     1
3          T4      1       1       0     0    0     1
4          T5      1       0       1     0    0     0

### Step 2: Drop the 'Transaction' Column
We're only interested in the items (not the transaction IDs).

In [49]:
data = df.copy()
data_items = data.drop('Transaction',axis=1) #data.drop(column = ['Transaction'])
data_items

   bread  butter  coffee  eggs  jam  milk
0      1       1       0     0    0     1
1      1       1       0     0    1     0
2      1       0       0     1    0     1
3      1       1       0     0    0     1
4      1       0       1     0    0     0
5      0       0       1     1    1     0

### Step 3: Count Single Items
See how many transactions include each item.

In [51]:
data_items.sum()

bread     5
butter    3
coffee    2
eggs      2
jam       2
milk      3
dtype: int64

### Step 4: Define Apriori Function
This function finds frequent itemsets of size 1, 2, and 3 with minimum support.

In [80]:
from itertools import combinations

def find_frequent_itemsets(data,min_support):
    n = len(data)
    result = []

    for k in [1,2,3]:
        for items in combinations(data.columns,k):
            mask = data[list(items)].all(axis=1)
            print("items",items,"mask",mask.sum())
            support = mask.sum() / n
            if support >= min_support:
                result.append((frozenset(items),round(support,2)))
    return result

### Step 5: Run Apriori
Set `min_support = 0.6` and display the frequent itemsets.

In [94]:
frequent_itemsets = find_frequent_itemsets(data_items,min_support = 0.6)

for itemset, support in frequent_itemsets:
    print(f"{set(itemset)} support: {support}")

items ('bread',) mask 5
items ('butter',) mask 3
items ('coffee',) mask 2
items ('eggs',) mask 2
items ('jam',) mask 2
items ('milk',) mask 3
items ('bread', 'butter') mask 3
items ('bread', 'coffee') mask 1
items ('bread', 'eggs') mask 1
items ('bread', 'jam') mask 1
items ('bread', 'milk') mask 3
items ('butter', 'coffee') mask 0
items ('butter', 'eggs') mask 0
items ('butter', 'jam') mask 1
items ('butter', 'milk') mask 2
items ('coffee', 'eggs') mask 1
items ('coffee', 'jam') mask 1
items ('coffee', 'milk') mask 0
items ('eggs', 'jam') mask 1
items ('eggs', 'milk') mask 1
items ('jam', 'milk') mask 0
items ('bread', 'butter', 'coffee') mask 0
items ('bread', 'butter', 'eggs') mask 0
items ('bread', 'butter', 'jam') mask 1
items ('bread', 'butter', 'milk') mask 2
items ('bread', 'coffee', 'eggs') mask 0
items ('bread', 'coffee', 'jam') mask 0
items ('bread', 'coffee', 'milk') mask 0
items ('bread', 'eggs', 'jam') mask 0
items ('bread', 'eggs', 'milk') mask 1
items ('bread', 'jam', 'milk') mask 0
items ('butter', 'coffee', 'eggs') mask 0
items ('butter', 'coffee', 'jam') mask 0
items ('butter', 'coffee', 'milk') mask 0
items ('butter', 'eggs', 'jam') mask 0
items ('butter', 'eggs', 'milk') mask 0
items ('butter', 'jam', 'milk') mask 0
items ('coffee', 'eggs', 'jam') mask 1
items ('coffee', 'eggs', 'milk') mask 0
items ('coffee', 'jam', 'milk') mask 0
items ('eggs', 'jam', 'milk') mask 0
{'bread'} support: 0.83

### Step 6 Display as a DataFrame

In [96]:
result_data = pd.DataFrame(frequent_itemsets,columns = ['Itemset','Support'])
result_data

   Itemset  Support
0  (bread)     0.83

# Orange Tool : - >Generate Same Frequent Patterns in Orange tools

# Extra : - >  Define Apriori Function without itertools

In [104]:
import pandas as pd

# Recreate your dataset
data = pd.DataFrame({
    'bread':  [1, 1, 1, 1, 1, 0],
    'butter': [1, 1, 0, 1, 0, 0],
    'coffee': [0, 0, 0, 0, 1, 1],
    'eggs':   [0, 0, 1, 0, 0, 1],
    'jam':  [0, 1, 0, 0, 0, 1], 
    'milk': [1 ,0 ,1, 1, 0, 0]# guessing the last column is juice
})

min_support = 0.6  # for example, at least 30% of baskets

frequent_itemsets = find_frequent_itemsets(data, min_support)

for itemset, support in frequent_itemsets:
    print(f"{set(itemset)}: {support}")

items ('bread',) mask 5
items ('butter',) mask 3
items ('coffee',) mask 2
items ('eggs',) mask 2
items ('jam',) mask 2
items ('milk',) mask 3
items ('bread', 'butter') mask 3
items ('bread', 'coffee') mask 1
items ('bread', 'eggs') mask 1
items ('bread', 'jam') mask 1
items ('bread', 'milk') mask 3
items ('butter', 'coffee') mask 0
items ('butter', 'eggs') mask 0
items ('butter', 'jam') mask 1
items ('butter', 'milk') mask 2
items ('coffee', 'eggs') mask 1
items ('coffee', 'jam') mask 1
items ('coffee', 'milk') mask 0
items ('eggs', 'jam') mask 1
items ('eggs', 'milk') mask 1
items ('jam', 'milk') mask 0
items ('bread', 'butter', 'coffee') mask 0
items ('bread', 'butter', 'eggs') mask 0
items ('bread', 'butter', 'jam') mask 1
items ('bread', 'butter', 'milk') mask 2
items ('bread', 'coffee', 'eggs') mask 0
items ('bread', 'coffee', 'jam') mask 0
items ('bread', 'coffee', 'milk') mask 0
items ('bread', 'eggs', 'jam') mask 0
items ('bread', 'eggs', 'milk') mask 1
items ('bread', 'jam', 'milk') mask 0
items ('butter', 'coffee', 'eggs') mask 0
items ('butter', 'coffee', 'jam') mask 0
items ('butter', 'coffee', 'milk') mask 0
items ('butter', 'eggs', 'jam') mask 0
items ('butter', 'eggs', 'milk') mask 0
items ('butter', 'jam', 'milk') mask 0
items ('coffee', 'eggs', 'jam') mask 1
items ('coffee', 'eggs', 'milk') mask 0
items ('coffee', 'jam', 'milk') mask 0
items ('eggs', 'jam', 'milk') mask 0
{'bread'}: 0.83